<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <meta name="fragment" content="!">
        <meta content="es-ar" http-equiv="content-language">
        <meta name="robots" content="index,follow,max-image-preview:large">
        <meta name="description" content="La Sociedad Española de Socorros Mutuos de Junín es una institución sin fines de lucro en Junín, Provincia de Buenos Aires. Brinda apoyo mutuo y servicios médicos, culturales y sociales a sus miembros. Su edificio en Mendoza 530 es emblemático y ha sido testigo de muchas historias compartidas entre socios. ¡Un faro de solidaridad!">
        <meta name="keywords" content="sociedad española, sociedad española socorros mutuos, mutualismo, ayuda mutua, cultura, junín, edificio emblemático, comunidad, solidaridad">
        <meta name="language" content="Spanish">
        <meta name="telephone" content="+5492364533342">
        <meta name="whatsapp" content="+5492364533342">
        <meta name="author" content="Juan Ignacio Caprioli, Valentino Badano, Lucas Lisandro Coria, Leonardo Giorgio Marcelo Lorenzatti, Luis Francisco Martinez, José Matías Fernández, Eduardo Emiliano Rios, Joaquin Rios, Ignacio Pringles">
        <meta name="application-name" content="Sociedad Española de Socorros Mutuos">
        <meta name="geo.region" content="AR">
        <meta name="geo.placename" content="Junín">
        <meta name="geo.position" content="-34.5930526;-60.9462904">
        <link rel="shortcut icon" href="../../static/imagenes/eventosImg/logo.svg" type="image/x-icon">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sociedad Española Junín | Inicio</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <link rel="stylesheet" href="../../static/estilos.css">
    </head>
    <body>
        <header class="position-sticky top-0 z-1">
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a href="#"><img src="../../static/imagenes/logo-largo.png" alt="Sociedad Española" height="40.8" width="230" ></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav text-center ms-auto">
                            <a class="nav-link" aria-current="page" href="/visitante/inicio">Inicio</a>
                            <a class="nav-link" href="/visitante/eventos">Eventos</a>
                            <a class="nav-link" href="/visitante/actividades">Actividades</a>
                            <a class="nav-link" href="/visitante/historia">Historia</a>
                            <a class="nav-link" href="/visitante/contacto">Contacto</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div th:if="${param.logout}" class="alert alert-success text-center">
            <p class="lead">Ha cerrado sesión exitosamente.</p>
        </div>

        <section class="container pt-5 pb-5 mt-5 mb-5 overflow-x-hidden">
            <p class="lead text-center" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000"><em style="color: #f00822">La Sociedad Española Socorros Mutuos Junín es una organización sin fines de lucro</em> que se dedica al mutualismo y la cultura.
                <em style="color: #f00822">Con más de 130 años de permanencia en Junín,</em> la organización tiene como objetivo mantener viva la herencia hispana y propagarla en las distintas actividades que realiza en la comunidad.</p>

            <div class="d-grid card-inicio gap-5 pt-5 mt-5">
                <div class="card" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000">
                    <h2 class="card-header">Cursos de idioma español</h2>
                    <div class="card-body">
                        <p class="card-text">La organización ofrece cursos de español para extranjeros y para aquellos que deseen mejorar su español.</p>
                    </div>
                </div>

                <div class="card" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000">
                    <h2 class="card-header">Actividades culturales</h2>
                    <div class="card-body">
                        <p class="card-text">La Sociedad Española Junín organiza actividades culturales como exposiciones de arte, presentaciones de libros, conferencias y charlas.</p>
                    </div>
                </div>

                <div class="card" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000">
                    <h2 class="card-header">Eventos sociales</h2>
                    <div class="card-body">
                        <p class="card-text">La organización organiza eventos sociales como cenas, bailes y fiestas para celebrar festividades españolas y argentinas</p>
                    </div>
                </div>

                <div class="card" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000">
                    <h2 class="card-header">Actividades deportivas</h2>
                    <div class="card-body">
                        <p class="card-text">La Sociedad Española Junín tiene un equipo de fútbol y organiza torneos de fútbol y otros deportes.</p>
                    </div>
                </div>
            </div>
        </section>

        <section style="background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(210,179,0,1) 80%);" class="pt-5 pb-5 mt-5 mb-5">
            <div class="container pt-5 pb-5">
                <h2 class="text-center text-white">Nuestra misión</h2>
                <p class="lead text-center text-white" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">Nuestro propósito es <em style="color: #f00822">mantener viva la herencia hispana</em> y difundirla a través de diversas actividades en nuestra comunidad.
                    Nos dedicamos al mutualismo y la cultura, <em style="color: #f00822">buscando fomentar la solidaridad y preservar nuestras tradiciones.</em></p>

                <h2 class="text-center pt-5 mt-5 pb-3 text-white">Nuestros valores</h2>
                <div class="d-grid card-inicio2 gap-5">
                    <div class="card" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
                        <h3 class="card-header">Solidaridad</h3>
                        <div class="card-body">
                            <p class="card-text">Nos basamos en la idea de ayudarse mutuamente. La solidaridad es un valor fundamental que guía sus acciones y decisiones.</p>
                        </div>
                    </div>

                    <div class="card" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="150" data-aos-duration="1000">
                        <h3 class="card-header">Preservación Cultural</h3>
                        <div class="card-body">
                            <p class="card-text">El compromiso con la cultura hispana y su legado es evidente. Valorizamos la historia, las costumbres y las raíces de la comunidad.</p>
                        </div>
                    </div>

                    <div class="card" data-aos="fade-up" data-aos-easing="linear" data-aos-delay="300" data-aos-duration="1000">
                        <h3 class="card-header">Permanencia y Tradición</h3>
                        <div class="card-body">
                            <p class="card-text">Con más de 130 años de existencia, valoramos la continuidad y la preservación de su identidad a lo largo del tiempo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="pt-5 pb-5">
            <div class="embedsocial-hashtag pt-5 pb-5" data-ref="0acc0c07f3c5ead30ac81f9d6f411c6fc13421f4"> <a class="feed-powered-by-es feed-powered-by-es-slider-img" href="https://embedsocial.com/blog/embed-google-reviews/" target="_blank" title="Embed Google reviews"> <img src="https://embedsocial.com/cdn/images/embedsocial-icon.png" alt="EmbedSocial"> Embed Google reviews </a> </div> <script> (function(d, s, id) { let js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>
        </section>

        <section style="background: linear-gradient(0deg, rgba(205,205,205,1) 0%, rgba(210,179,0,1) 80%);" class="pt-5 pb-5">
            <div class="container pt-5 pb-5 text-center text-white" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
                <h2> Envíanos un mensaje</h2>
                <a class="btn btn-lg mt-3 rounded-0 btn-pseudoclase" href="/visitante/contacto" role="button">¡Contactanos!</a>
            </div>
        </section>

        <footer class="container pt-5 pb-5 mt-5">
            <div class="text-center"><img class="img-fluid" src="../../static/imagenes/logo-largo.png" alt="Sociedad Española"></div>
            <div class="d-grid grid-footer gap-5 pt-5">
                <div class="text-center mx-auto">
                    <div class="d-flex align-items-center">
                        <img src="../../static/imagenes/ubicacion.svg" alt width="40.2" height="40.2">
                        <span class="fs-1 ps-3">¿Dónde estamos?</span>
                    </div>
                    <div><a href="https://maps.app.goo.gl/xjwUxZG8DANdN8AR7" class="text-decoration-none text-black fs-4 subrayado">Narbondo 32, Junín, Buenos Aires</a></div>
                </div>
                <div class="text-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="../../static/imagenes/llamar.svg" alt width="40.2" height="40.2">
                        <span class="fs-1 ps-3">Nuestro contacto</span>
                    </div>
                    <div><a href="tel:542364533342" class="text-decoration-none text-black fs-4 subrayado" role="button">+54 9 236 453-3342</a></div>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script src="../../static/script/script.js"></script>
    </body>
</html>

<!--
            ¿Quiénes Somos?
            Nuestra Misión y Valores
            Diferenciación de la Competencia
            Beneficios para los Miembros
            Testimonios y Experiencias
            Llamado a la Acción ¿Quieres que los visitantes se unan? ¿Asistan a un evento?
-->