<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div style="text-align: center">
            <img src="static/imagenes/eventosImg/logo.svg" alt="">
            <p>¡Hola! Se te notifica de que se ha credo un nuevo evento en <strong>La Sociedad Española de Junín</strong></p>
            <br>
            <p>Puedes visualizarlo aquí: <a href="http://localhost:8080/visitante/eventos">http://localhost:8080/visitante/eventos</a></p>
            <br>
            <p>El evento se llama </p> + evento.getTitulo() + <p> creado en la fecha </p> + evento.getFecha() + <p> por </p> + evento.getUsuario().getUsername();
        </div>
    </body>
</html>