<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="fragment" content="!">
    <meta content="es-ar" http-equiv="content-language">
    <meta name="robots" content="index,follow,max-image-preview:large">
    <meta name="description" content="La Sociedad Española de Socorros Mutuos de Junín es una institución sin fines de lucro en Junín, Provincia de Buenos Aires. Brinda apoyo mutuo y servicios médicos, culturales y sociales a sus miembros. Su edificio en Mendoza 530 es emblemático y ha sido testigo de muchas historias compartidas entre socios. ¡Un faro de solidaridad!">
    <meta name="keywords" content="sociedad española, sociedad española socorros mutuos, mutualismo, ayuda mutua, cultura, junín, edificio emblemático, comunidad, solidaridad">
    <meta name="language" content="Spanish">
    <meta name="telephone" content="+5492364533342">
    <meta name="whatsapp" content="+5492364533342">
    <meta name="author" content="Juan Ignacio Caprioli, Valentino Badano, Lucas Lisandro Coria, Leonardo Giorgio Marcelo Lorenzatti, Luis Francisco Martinez, José Matías Fernández, Eduardo Emiliano Rios, Joaquin Rios, Ignacio Pringles">
    <meta name="application-name" content="Sociedad Española de Socorros Mutuos">
    <meta name="geo.region" content="AR">
    <meta name="geo.placename" content="Junín">
    <meta name="geo.position" content="-34.5930526;-60.9462904">
    <link rel="shortcut icon" href="../../static/imagenes/logo.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sociedad Española Junín | Evento</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/estilos.css">
</head>
<body>
<header class="position-sticky top-0 z-1">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a href="#"><img src="../../static/imagenes/logo-largo.png" alt="Sociedad Española" height="40.8" width="230" ></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav text-center ms-auto">
                    <a class="nav-link" aria-current="page" href="/administrador/inicio">Inicio</a>
                    <a class="nav-link" href="/administrador/evento">Eventos</a>
                    <a class="nav-link" href="/administrador/actividades">Actividades</a>
                    <a class="nav-link" href="/administrador/historia">Historia</a>
                    <a class="nav-link" href="/administrador/contacto">Contacto</a>
                    <a class="nav-link" href="#">Cerrar sesión</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="box">
    <div class="box-inner"></div>
</div>

<div class="container mt-4">
    <!-- Botón para volver a la lista de eventos -->
    <a th:href="@{/administrador/actividades}" class="btn btn-primary">Volver a la lista de actividades</a>
    <br/>

    <!-- Muestra los detalles de la actividad -->
    <h2 th:text="'Titulo: ' + ${actividad.getTitulo()}"></h2>
    <p th:text="'Descripcion: ' + ${actividad.getDescripcion()}"></p>
    <p th:text="'Horario/s de atencion: ' + ${actividad.getHorario()}"></p>

    <!--<a th:href="@{/administrador/eventos/eliminar/{id}(id=${evento.id})}">Eliminar</a>-->

    <br/>
    <!--<a th:href="@{'/administrador/evento/' + ${evento.id} + '?mensaje=mensaje'}" class="btn btn-primary">Modificar</a>-->

    <br/>
    <!--<a th:href="@{'/administrador/evento/suscriptores/' + ${evento.id}}" class="btn btn-primary">Suscriptores</a>-->

    <div th:if="${mensaje}" class="custom-alert">

        <div class="container">
            <h1>Modificar Actividad</h1>

            <form th:action="@{'/administrador/actividad/' + ${actividad.id}}" method="post">
                <label for="titulo"></label>
                <input
                        type="text"
                        id="titulo"
                        name="titulo"
                        placeholder="Titulo de la nueva actividad"
                />
                <label for="descripcion"></label>
                <input
                        type="text"
                        id="descripcion"
                        name="descripcion"
                        placeholder="Descripcion"
                />
                <label for="horario"></label>
                <input
                        type="text"
                        id="horario"
                        name="horario"
                        placeholder="Horario/s de atencion"
                />

                <input type="submit" value="Modificar"/>
            </form>
        </div>
    </div>

    <div th:if="${subscriptores}" class="custom-alert">
        <ul>
            <li th:each="Subs : ${subscriptores}">
                <h2 th:text="${Subs.getNombre}"></h2>
                <h2 th:text="${Subs.getEmail}"></h2>
            </li>
        </ul>
    </div>

</div>
<div class="box" style="transform: rotate(180deg)">
    <div class="box-inner"></div>
</div>

<footer class="container pt-5 pb-5 mt-5">
    <div class="text-center"><img class="img-fluid" src="../../static/imagenes/logo-largo.png" alt="Sociedad Española"></div>
    <div class="d-grid grid-footer gap-5 pt-5">
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="../../static/script.js"></script>
</body>
</html>