<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container mt-4">
        <!-- Muestra los detalles del evento -->
        <h2 th:text="${evento.getTitulo()}"></h2>
        <p th:text="${evento.getFecha()}"></p>
        <p th:text="${evento.getDescripcion()}"></p>

        <!-- Botón para volver a la lista de eventos -->
        <a th:href="@{/administrador/eventos}" class="btn btn-primary">Volver a la lista de eventos</a>
        <a th:href="@{'/administrador/evento/' + ${evento.id} + '?mensaje=mensaje'}" class="btn btn-primary">Modificar</a>


        <div th:if="${mensaje}" class="custom-alert">

            <div class="container">
                <h1>Modificar Evento</h1>

                <form th:action="@{'/administrador/evento/' + ${evento.id}}" method="post">
                    <label for="titulo"></label>
                    <input
                            type="text"
                            id="titulo"
                            name="titulo"
                            placeholder="Titulo del nuevo evento"
                            required
                            th:value="${evento.titulo}"
                    />
                    <label for="descripcion"></label>
                    <input
                            type="text"
                            id="descripcion"
                            name="descripcion"
                            placeholder="Descripcion"
                            required
                            th:value="${evento.descripcion}"
                    />
                    <!--                    <label for="image"></label>-->
                    <!--                    <input-->
                    <!--                            type="file"-->
                    <!--                            id="image"-->
                    <!--                            name="imagen"-->
                    <!--                            placeholder="imagen"-->
                    <!--                            required-->
                    <!--                    />-->
                    <input type="submit" value="Modificar"/>
                </form>
            </div>
        </div>
    </div>

</body>
</html>