<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .custom-alert {
            background-color: #5CFCA0; /* Fondo oscuro */
            color: #1E8449; /* Texto blanco */
            padding: 4px; /* Añadir espacio alrededor del texto */
            border-radius: 2.5px; /* Esquinas redondeadas */
        }
    </style>


</head>
<body>

<h1>Puede ser paaa?</h1>
<a href="/administrador/usuario/crear">Crear usuario</a>
<!--Vamos a crear un html para hacer la carga de datos de un usuario para su posterior creacion-->
<br>
<a href="/administrador/eventos/new">Nuevo evento</a>

<div th:if="${success}" class="custom-alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong th:text="${success}"></strong>
</div>
</body>
</html>