<!DOCTYPE html>
<html lang="en">

<header class="position-sticky top-0 z-1">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a href="#"><img src="../../static/imagenes/logo-largo.png" alt="Sociedad Española" height="40.8" width="230" ></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-center ms-auto">
          <a class="nav-link" aria-current="page" href="/visitante/inicio">Inicio</a>
          <a class="nav-link" href="/visitante/eventos">Eventos</a>
          <a class="nav-link" href="/visitante/actividades">Actividades</a>
          <a class="nav-link" href="/visitante/historia">Historia</a>
          <a class="nav-link" href="/visitante/contacto">Contacto</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<body>


<div class="container">


  <!--  <img src="../../static/imagenes/logo.png" alt="Logo" />-->
  <h1  class="p-5" >Crear usuario administrador</h1>

  <div th:if="${param.error}" class="custom-alert text-center">
    <strong>Nombre de usuario ya existente</strong><br>


  </div>
  <form th:action="@{/administrador/newUser}" method="post">
    <div class="p-2 g-col-6 ">
      <label for="username" ></label>
      <input
              type="text"
              id="username"
              name="username"
              placeholder="Usuario"
              required

      />
    </div>
    <div class="p-2 g-col-6">
      <label for="password"></label>
      <input
              type="password"
              id="password"
              name="password"
              placeholder="Contraseña"
              required
      />
    </div>
    <div class="p-2 g-col-6">
      <input type="submit" value="Crear usuario "/>
    </div>
  </form>



  <!-- th:if="${param.borrarUsuario}" class="#">-->
  <h1>Borrar usuario</h1>

  <form th:action="@{/administrador/deletUser}" method="post">
    <label for="username"></label>
    <input
            type="text"
            id="nomUsuario"
            name="nomUsuario"
            placeholder="Nombre del Usuario a borrar"
            required
    />
    <input type="submit" value="Borrar usuario"/>
  </form>
</div>
</body>
</html>
